# Flask Configuration
FLASK_SECRET_KEY=your_super_secret_key

# IntaSend Credentials
INTASEND_PUBLISHABLE_KEY=IS_PUB_...
INTASEND_SECRET_TOKEN=IS_SEC_...
INTASEND_TEST_MODE=True

# Program Details
PROGRAM_FEE=1500
PROGRAM_NAME=The Tkay Challenge
PROGRAM_LINK=https://chat.whatsapp.com/...
CURRENCY=KES

# Admin Access
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_password
